body {
  margin: 0
}

#pageWrapper {
  padding-top: 25px;
}

#section {
  border: 1px solid black;
  height: 200px;
  }

h2 {
  color: #666;
}

li {
  list-style: none;
  display: inline-block;
}

span {
  color: purple;
  font-weight: bold;
}

.polaroid {
  vertical-align: top;
  margin: 246px 0 0 -6px;
}

a img {
border:0px;
}
