body {
  margin: 0
}

#pageWrapper {
  width: 1470px;
  padding-top: 60px;
}

#section {
  border: 1px solid black;
  height: 200px;
  }

h2 {
  color: #666;
}

li {
  list-style: none;
  display: inline-block;
}

span {
  color: white;
}

a {
  color: white;
}

a img {
  border:0px;
}

.polaroid {
  background-image : url("../images/polaroid_sprite.png");
  display: inline-block;
  vertical-align: top;
  margin: 246px 0 0 -6.5px;
  height: 90px;
}

#image1 {
  background-position : -899px 0px; width : 56px; height : 90px;
}

#image1:hover {
  background-position : -0px 0px; width : 56px; height : 90px;
}

#image2 {
  background-position : -955px 0px; width : 53px; height : 90px;
}

#image2:hover {
  background-position : -56px 0px; width : 53px; height : 90px;
}

#image3 {
  background-position : -1008px 0px; width : 58px; height : 90px;
}

#image3:hover {
  background-position : -109px 0px; width : 58px; height : 90px;
}

#image4 {
  background-position : -1066px 0px; width : 48px; height : 90px;
}

#image4:hover {
  background-position : -167px 0px; width : 48px; height : 90px;
}

#image5 {
  background-position : -1114px 0px; width : 54px; height : 90px;
}

#image5:hover {
  background-position : -215px 0px; width : 54px; height : 90px;
}

#image6 {
  background-position : -1168px 0px; width : 48px; height : 90px;
}

#image6:hover {
  background-position : -269px 0px; width : 48px; height : 90px;
}

#image7 {
  background-position : -1216px 0px; width : 52px; height : 90px;
}

#image7:hover {
  background-position : -317px 0px; width : 52px; height : 90px;
}

#image8 {
  background-position : -1268px 0px; width : 53px; height : 90px;
}

#image8:hover {
  background-position : -369px 0px; width : 53px; height : 90px;
}

#image9 {
  background-position : -1321px 0px; width : 64px; height : 90px;
}

#image9:hover {
  background-position : -422px 0px; width : 64px; height : 90px;
}

#image10 {
  background-position : -1385px 0px; width : 55px; height : 90px;
}

#image10:hover {
  background-position : -486px 0px; width : 55px; height : 90px;
}

#image11 {
  background-position : -1440px 0px; width : 47px; height : 90px;
}

#image11:hover {
  background-position : -541px 0px; width : 47px; height : 90px;
}

#image12 {
  background-position : -1487px 0px; width : 52px; height : 90px;
}

#image12:hover {
  background-position : -588px 0px; width : 52px; height : 90px;
}

#image13 {
  background-position : -1539px 0px; width : 50px; height : 90px;
}

#image13:hover {
  background-position : -640px 0px; width : 50px; height : 90px;
}

#image14 {
  background-position : -1589px 0px; width : 48px; height : 90px;
}

#image14:hover {
  background-position : -690px 0px; width : 48px; height : 90px;
}

#image15 {
  background-position : -1637px 0px; width : 51px; height : 90px;
}

#image15:hover {
  background-position : -738px 0px; width : 51px; height : 90px;
}

#image16 {
  background-position : -1688px 0px; width : 62px; height : 90px;
}

#image16:hover {
  background-position : -789px 0px; width : 62px; height : 90px;
}

#image17 {
  background-position : -1750px 0px; width : 48px; height : 90px;
}

#image17:hover {
  background-position : -851px 0px; width : 48px; height : 90px;
}

#image18 {
  background-position : -1798px 0px; width : 52px; height : 90px;
}

#image19 {
  background-position : -1850px 0px; width : 50px; height : 90px;
}

#image20 {
  background-position : -1900px 0px; width : 52px; height : 90px;
}

#image21 {
  background-position : -1952px 0px; width : 52px; height : 90px;
}
