body {
  margin: 0
}

#pageWrapper {
  width: 1489px;
  padding-top: 60px;
}

#section {
  border: 1px solid black;
  height: 200px;
  }

h2 {
  color: #666;
}

li {
  list-style: none;
  display: inline-block;
}

span {
  color: white;
}

.polaroid {
  display: inline-block;
  vertical-align: top;
  margin: 246px 0 0 -6px;
  height: 90px;
}

a {
  color: white;
}

a img {
  border:0px;
}

#image1 {
  background: url(../images/polaroid-01.jpg) no-repeat;
  width: 58px;
}

#image1:hover {
  background: url(../images/corresponding_polaroids/polaroid-01.jpg) no-repeat;
}
